FORMAT: 1A
HOST: http://openlocationsapi-openlocationsapi.apps.us-east-1.starter.openshift-online.com/

# Open Locations API (OLAPI)

OLAPI is a simple RESTful API developed by Iddriss O. Juma using Nodejs+Mongodb. It enables to 
query for locations i.e. cities, countries, villages, hotels, rivers, mountains etc via 
simple REST get/post requests.

OLAPI is opensource, it is released under ISC/BSD license. have fun!

## User Authentication

### Sign Up/Create account [POST]

+ Endpoint [/api/v1/users/register-ola-user]
+ Method [post]
+ Request (application/json)
    +headers
    
        Content-type: application/json
        
    +Body 
    
        {
            "name" : "Your full name",
            "email" : "avalidmail@yourmailer.com",
            "phone" : "yourvalidphoneforapikeysms",
            "password" : "auniquepassword"
        }
        
+ Response 200 (application/json)

        {
            "status": "00",
            "message": "API User added successfully! Check your phone for Consume key",
            "data": null
        }

### Access Token [POST]

For you to successfully post any request on OLAPI, you must be authenticated. OLAPI uses
standard RESTful authentication approach(Oauth2 implementation) to verify user requests. If
your authentication request is successful, you will get a token, which you will use as your 
**skylar-token** in request headers.

+ Endpoint [/api/v1/users/authenticate]
+ Method [post]
+ Request (application/json)
    +Headers 
        Content-type: application/json
    +Body 
    
        {
            "consumer_key" : "yourconsumerkeysentviasmsandemail",
            "secret" : "youruniquepasswordthatyousignedupwith"
        }

+ Response 201 (application/json)

    + Headers

            Content-type: application/json

    + Body

            {
                "status": "00",
                "message": "authorized",
                "data": {
                    "user": true,
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkY2JjZDQ0YjdhYTdmMDAxYTEzYmY5YSIsImlhdCI6MTU3MzcxOTgyNywiZXhwIjoxNTczNzIzNDI3fQ.SWEdDmSXbnxCvN4uSTYuHAtGAEXwN9I5riW_L67fS0M"
                }
            }