FORMAT: 1A
HOST: http://openlocationsapi-openlocationsapi.apps.us-east-1.starter.openshift-online.com/

# Open Locations API (OLAPI)

OLAPI is a simple RESTful API developed by Iddriss O. Juma using Nodejs+Mongodb. It enables to 
query for locations i.e. cities, countries, villages, hotels, rivers, mountains etc via 
simple REST get/post requests.

OLAPI is opensource, it is released under ISC/BSD license. have fun!

## User Authentication

### Sign Up/Create account [POST]

+ Endpoint [/api/v1/users/register-ola-user/]
+ Method [post]
+ Request headers
        [
            {
                "Content-Type: Content-Type"
            }
        ]
+ Response 200 (application/json)

        [
            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 2048
                    }, {
                        "choice": "Python",
                        "votes": 1024
                    }, {
                        "choice": "Objective-C",
                        "votes": 512
                    }, {
                        "choice": "Ruby",
                        "votes": 256
                    }
                ]
            }
        ]

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }