<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152540921-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-152540921-1');
    </script>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body    { padding-top:50px; }
        html,body{background-image:url(https://cdn.pixabay.com/photo/2016/11/07/05/14/italy-1804893_960_720.jpg);background-size:cover;background-repeat:repeat-y;height:100%;font-family:'Numans',sans-serif}
        h4{
            font-size:24px;
            color:#11a3e8;
            padding:30px;
        }
        a{
            color:#11a3e8;
        }
    </style>
</head>
<body class="container">

<header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        OLA
                    </a>
            
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Author</a></li>
                        <li><a href="/sign-up">Create Account</a></li>
                        <li><a href="/policy">Privacy Policy</a></li>
                    </ul>
                </div>
            
            </div>
        </nav>
</header>
<main>
    <div class="jumbotron">
        <h1>Open Locations API</h1>
        <p>Welcome to OLAPI by Juma</p>
        <br>
        <h1>What is it?</h1>
        <p>
            OLAPI is a free open source locations API developed by <a href="/about">I.O. Juma</a>, a Kenyan software Software developer. OLAPI allows you to dynamically send requests to get location IDs, Location names, region, elevation/height above sea level, estimated population among other geographical data. To gain access, you just need to submit a <a href="/sign-up">sign up form</a> or send a <a target="_blank" href="https://iddrissotuya.docs.apiary.io/#/introduction/user-authentication/sign-up-create-account-post">POST request to OLAPI</a> with your email and working phone number.
        </p>

        <h1>How to use</h1>
        <p>
            OLAPI documentation can be found on <a href="https://iddrissotuya.docs.apiary.io/">apiary.io</a> or Swagger.
        </p>
    </div>
</main>

<footer style="background:#fff">
    <p class="text-center text-muted">© Copyright 2019 OLA</p>
</footer>

</body>
</html>