<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body    { padding-top:50px; }
        html,body{background-image:url(https://cdn.pixabay.com/photo/2016/11/07/05/14/italy-1804893_960_720.jpg);background-size:cover;background-repeat:repeat-y;height:100%;font-family:'Numans',sans-serif}
        h4{
            font-size:24px;
            color:#11a3e8;
            padding:30px;
        }
        a{
            color:#11a3e8;
        }
    </style>
</head>
<body class="container">

<header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        OLA
                    </a>
            
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Author</a></li>
                        <li><a href="/sign-up">Create Account</a></li>
                        <li><a href="/policy">Privacy Policy</a></li>
                    </ul>
                </div>
            
            </div>
        </nav>
</header>
<main>
    <div class="jumbotron">
        <h1>About I.O. Juma</h1>

        <h4>Brief</h4>
        <p>
            I.O. Juma is a Kenyan Software Application Developer with extensive experience in web, android/iOS and desktop technologies. A holder of Bsc. IT from Strathmore university and is curently working with Family bank Limited (kenya) as Web Application developer.
        </p>

        <h4>Software Development Experience</h4>
        <p>
            5 Years experience in Enterprise Web application and over 6 years experience writing Java(+ JavaFX) based desktop applications. Has 4 years work experience in REST & SOAP API development using Nodejs, Java and PHP. 3 years experience in mobile application development for android and iOS using IONIC framework and java/php/nodejs backends. He is the developer of OpenSkylar and homePOS both open source java/postgresql based ERPs for hospitals & Stores respectively.
        </p>

        <h4>Database Experience</h4>
        <p>
            Juma has a wide experience in RDBS and NO-SQL flat-file databases including but not limited to Postgresql, Oracle DB(from 11g), MYSQL, Mongodb, Bigtable, SQLITE & SQL Server. 
        </p>

        <h4>Technologies/OS Experience</h4>
        <p>
            Has worked with modern robust technologies and frameworks such as Spring MVC, JavaFX, Hibernate, nodeJS, Angular, IONIC, Laravel, maven, JSF(primefaces) and  Symfony. Experience in cloud and containerization technologies and features such as apache Ant, Kuberenetes, Openstack, AWS, GCP and Redhat developer tools. Has deployed to Apache tomcat, oracle weblogic and works best in Linux environment such CentOS, Fedora, ubuntu and Kubuntu.
        </p>

        <h4>Other Experiences</h4>
        <p>
            Apart from programming, Juma is also a tech and social writer and he is one of the contributors of the open blog at <a href="https://howto-daily.com">howto-daily.com</a>.
        </p>

        <h4>Contacts</h4>
        <p>
            Email me on <a href="#">idd.otuya<@>outlook<.>com</a>. Remeber to remove unnecessary data from the email, this is just to prevent bots from crawling it.
        </p>
        <br>
    </div>
</main>

<footer style="background:#fff">
    <p class="text-center text-muted">© Copyright 2019 OLA</p>
</footer>

</body>
</html>