<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body    { padding-top:50px; }
        html,body{background-image:url(https://cdn.pixabay.com/photo/2016/11/07/05/14/italy-1804893_960_720.jpg);background-size:cover;background-repeat:repeat-y;height:100%;font-family:'Numans',sans-serif}
        h4{
            font-size:24px;
            color:#11a3e8;
            padding:30px;
        }
        a{
            color:#11a3e8;
        }
    </style>
</head>
<body class="container">

<header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        OLA
                    </a>
            
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Author</a></li>
                        <li><a href="/sign-up">Create Account</a></li>
                        <li><a href="/policy">Privacy Policy</a></li>
                    </ul>
                </div>
            
            </div>
        </nav>
</header>
<main>
    <div class="jumbotron">
        <h1>Privacy Policy</h1>

        <h4>Privacy</h4>
        <p>
            ...
        </p>

        <h4>Policy</h4>
        <p>
            ...
        </p>

        <br>
    </div>
</main>

<footer style="background:#fff">
    <p class="text-center text-muted">© Copyright 2019 OLA</p>
</footer>

</body>
</html>